{% extends '../base.html' %}

{% load static %}

{% block content %}
<main>
    <div class="container">
        <div class="row mt-2">
            <div class="col-12 col-md-2 mb-3">
                <h3>Действия</h3>
                <button class="btn btn-primary w-100 mb-2" id="create-folder-button">
                    Создать папку
                </button>
                <button class="btn btn-primary w-100 mb-2" id="create-file-button">
                    Создать файл
                </button>
                <h3>Загрузка</h3>
                <button class="btn btn-primary w-100 mb-2" id="upload-folder-btn">📂 Загрузить папку
                    <input class="btn btn-primary w-100 mb-2" type="file" id="many-file-picker" name="fileList" webkitdirectory multiple hidden />
                </button>
                <button class="btn btn-primary w-100 mb-2" id="upload-file-btn">📄 Загрузить файл
                    <input class="btn btn-primary w-100 mb-2" type="file" id="one-file-picker" name="file" hidden />
                </button> 
            </div>

            <div class="col-12 col-md-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        {% for fullpath, name_folder in breadcrumb %}
                            {% if forloop.last %}
                            <li class="breadcrumb-item active" aria-current="page">
                                {{ name_folder }}
                            </li>
                            {% else %}
                            <li class="breadcrumb-item">
                                <a href="/?path={{ fullpath }}">
                                    {{ name_folder }}
                                </a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>

                <section id="files" class="section">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Название</th>
                                    <th scope="col">Дата изменения</th>
                                    <th scope="col">Размер</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for obj in page_obj %}
                                {% if obj.is_dir %}
                                <tr style="cursor: pointer;">
                                    <td onclick="document.location = '?path={{ current_path }}/{{ obj.object_name }}';">
                                        <img src="{% static 'cloud/icons/' %}folder.png" height="25px">
                                    </td>
                                    <td onclick="document.location = '?path={{ current_path }}/{{ obj.object_name }}';">{{ obj.object_name }}</td>
                                    <td onclick="document.location = '?path={{ current_path }}/{{ obj.object_name }}';">{{ obj.last_modified|default:"-" }}</td>
                                    <td onclick="document.location = '?path={{ current_path }}/{{ obj.object_name }}';">{{ obj.size|default:"-" }}</td>
                                    <td>
                                        <button class="btn btn-secondary" data-bs-toggle="popover"
                                            title="Действия с объектом"
                                            data-bs-content='
                                                <button class="btn btn-primary btn-sm w-100 mb-2 download-btn" data-object-name="{{ obj.object_name }}">Скачать</button>
                                                <button class="btn btn-warning btn-sm w-100 mb-2 rename-btn" data-object-name="{{ obj.object_name }}">Переименовать</button>
                                                <button class="btn btn-danger btn-sm w-100 delete-btn" data-object-name="{{ obj.object_name }}">Удалить</button>'>⋮</button>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td>
                                        <img src="{% static 'cloud/icons/' %}file.png" height="25px">
                                    </td>
                                    <td>{{ obj.object_name }}</td>
                                    <td>{{ obj.last_modified|default:"-" }}</td>
                                    <td>{{ obj.size|default:"-" }}</td>
                                    <td>
                                        <button class="btn btn-secondary" data-bs-toggle="popover"
                                            title="Действия с объектом"
                                            data-bs-content='
                                                <button class="btn btn-primary btn-sm w-100 mb-2 download-btn" data-object-name="{{ obj.object_name }}">Скачать</button>
                                                <button class="btn btn-warning btn-sm w-100 mb-2 rename-btn" data-object-name="{{ obj.object_name }}">Переименовать</button>
                                                <button class="btn btn-danger btn-sm w-100 delete-btn" data-object-name="{{ obj.object_name }}">Удалить</button>'>⋮</button>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="col-12">
        {% include "cloud/includes/pagination.html" %}
    </div>
</main>
<script type="module" src="{% static 'cloud/js/register_handlers.js' %}"></script>
<script type="module" src="{% static 'cloud/js/object_actions.js' %}"></script>
{% endblock %}